<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDemoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.61.106:9528/DemoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDemoService"
                contract="WCFDemoServiceReference.IDemoService" name="BasicHttpBinding_IDemoService" />
        </client>
    </system.serviceModel>
</configuration>